---
import Layout from '../layouts/Layout.astro';
import { Image } from 'astro:assets';
import myImage from "../images/kodo-pro__logo.png";
---

<Layout title="Welcome to Astro.">
	<main class="container mx-auto">
		<h1 class="md:text-4xl text-center text-green-700 font-bold">
			<Image src={myImage} alt="コドモプログラミング"/>
		</h1>
	</main>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1rem;
		width: 800px;
		max-width: calc(100% - 2rem);
		font-size: 20px;
		line-height: 1.6;
	}
</style>
