---
import Layout from '../layouts/Layout.astro';
import Headers from "../components/Headers.astro"
import Footer from "../components/Footer.astro"
//microCMS呼び出し
import { getBlogs } from "../library/microcms";
const response = await getBlogs({ fields: ["id", "title"] });
---

<Layout title="こどもプログラミング｜トップページ">
	<Headers/>
	<main class="container mx-auto">
		<section class="mt-10 p-2 bg-white">
			<h2 class="text-center p-3 text-lg md:text-2xl font-bold">こどもたちが楽しく学べる<br class="md:hidden">プログラミング教室</h2>
			<ul class="flex flex-col gap-2 text-sm md:text-base ">
				<li>パソコンがあればOK</li>
				<li>ひらがな・カタカナが読めればOK</li>
				<li>ローマ字がわからなくてもOK</li>
				<li>タイピング初めてでもOK</li>
			</ul>
			<p class="mt-6">楽しみながら学べます♪</p>

			<div>
				<h2 class="text-xl font-bold mt-10 text-center">どんなことをやるの？</h2>
				<p class="mt-6 text-sm md:text-base">こどもプログラミングではまずパソコンを立ち上げてサインインするところから動作を確認していきます。</p>
				<p class="mt-6 text-sm md:text-base">パソコンの準備ができたらタイピングの練習をします。簡単な文章から自分のペースで入力していき、徐々にスピードをあげていきます。</p>
				<p class="mt-6 text-sm md:text-base">タイピングが終わればプログラミング教材『Scratch』を使用して学んでいきます。</p>
				
			</div>
		</section>
		<section class="mt-10 bg-white p-4">
				<h2 class="text-xl font-bold mt-10 text-center">開催記録</h2>
			<ul>
				{response.contents.map((content: any) => (
					<li class="">
						<a href={content.id} class="text-sm md:text-base underline text-blue-600 hover:text-gray-600">{content.title}</a>
					</li>
						))}
			</ul>
		</section>
	</main>
	<Footer />
</Layout>

<style>
	main {
		margin: auto;
		padding: 1rem;
		width: 800px;
		max-width: calc(100% - 2rem);
		font-size: 20px;
		line-height: 1.6;
	}
</style>
