---
import { Image } from 'astro:assets';
import myImage from "../images/kodo-pro__logo.png";
---
<header class="container mx-auto">
    <h1 class="md:text-4xl text-center text-green-700 font-bold">
        <a href="/">
            <Image src={myImage} alt="コドモプログラミング"/>
        </a>
    </h1>
</header>

<style>
    header{
        margin: auto;
		padding: 1rem;
		width: 800px;
		max-width: calc(100% - 2rem);
		font-size: 20px;
		line-height: 1.6;
    }
</style>