@media screen and (max-width: 599px){
    .fc{
        font-size: 0.75rem;
    }
    .fc-view-harness.fc-view-harness-active{
        height: 400px!important;
    }
}
@media screen and (max-width: 449px){
    .fc .fc-toolbar{
        flex-direction: column;
    }
    tbody.rowgroup{
        font-size: 0.5rem;
    }
}